SETS
- unordere collection of unique objects
- Useful for
    - Filtering out "reapeat" objects
    - Checking for membership as O(1)
   - Efficient comparison of two sets
- Set can only store immutable objects
- NO MECHANISM FOR RETRIEVING A SINGLE ITEM FROM SET

In [7]:
#Create a set(same notation but no : like dict)
print({1,3.4,"apple", False, (1,2,3)})
print({i**2 for i in range(5) if i != 3})
print(type({2,4,6}))
print(set(range(4)))
print(set()) #{} creates empty dict

{False, 1, 3.4, (1, 2, 3), 'apple'}
{0, 1, 4, 16}
<class 'set'>
{0, 1, 2, 3}
set()

In [16]:
#redundant items ignored
x = [1,2,1,2,1,"moo","moo"]
print(set(x))
print({1,2,3,1,1,1})

{i.lower() for i in "The cat in the hat" if i.isalpha()}

{1, 2, 'moo'}
{1, 2, 3}

{'a', 'c', 'e', 'h', 'i', 'n', 't'}

In [38]:
#Set operations O(1)
print(2 in {1,2,3})
[i for i in {"a","b","c"}] #iteration order is random

True

['c', 'b', 'a']

In [40]:
#set comparison
x = {"a", "b", "c", "d"}
y = {"a", "b", "e"}
x | y # or x.union(y)

{'a', 'b', 'c', 'd', 'e'}

In [44]:
# intersection: items in both x and y
x & y  # or x.intersection(y)

False

In [43]:
# difference: items in x but not in y
x - y  # or x.difference(y)
{'c', 'd'}

{'c', 'd'}

In [46]:
# symmetric difference: in x or y, but not in both
x ^ y  # or x.symmetric_difference

{'c', 'd', 'e'}

In [47]:
# check if set_1 is a superset of set_2
{1, 2, 3, 4} >= {1, 2}
True

True

In [48]:
# check if set_1 and set_2 are equivalent sets
{1, 2, 3, 4} == {1, 2}
False

False

In [64]:
# Sets are mutable
x.add("dog")
x.update([1,2,3])
# x.remove("a") sometimes won't work because once x changes it stays
x
# frozen set is an immutable version of Python set
frozenset(x)

frozenset({1, 2, 3, 'b', 'c', 'd', 'dog'})

In [70]:
#Excercises
classA = ["Bohr", "Curie", "David", "Euler", "Fermi", "Feynman", "Gauss", "Heisenberg", "Noether"]
classB = ["Bohm", "Bohr", "Einstein", "Fermi", "Gauss", "Hopper", "Montalcini"]
sorted(set(classA) & set(classB))

['Bohr', 'Fermi', 'Gauss']

In [80]:
#Named Tuple
from collections import namedtuple
space = namedtuple("space_time", ['x','y','z','t'])
r = space(1.5,2.3,5.1,100.2)
print(r.x)
print(r.y)
print(r.z)
print(r.t)
#index and slices
print(r[3])
print(r[:])

1.5
2.3
5.1
100.2
100.2
(1.5, 2.3, 5.1, 100.2)

In [97]:
#Default Dict
#allows you to specify a Python value that will be used as default value
from collections import defaultdict
example = defaultdict(list)
example

defaultdict(list, {})

In [101]:
print(example['apple']) #initializes value as []
print(example)

#Example of default dict:
gradebook = defaultdict(list)
gradebook["Susan"].append(21)
gradebook

[]
defaultdict(<class 'list'>, {'apple': []})

defaultdict(list, {'Susan': [21]})

In [113]:
#Counter (accepts any iterable of immutables)
#Tallies unique objects 
from collections import Counter
text1 = "The cat in the hat"
text1 = text1.lower().split()
print(text1)
word = Counter(text1)
print(word)

text2 = "The apple in the tree"
text2 = text2.lower().split()
word.update(text2)
print(word)
print(word.most_common(2)) #Gets 2 most common words
print(word["tree"]) #Prints count for tree

['the', 'cat', 'in', 'the', 'hat']
Counter({'the': 2, 'cat': 1, 'in': 1, 'hat': 1})
Counter({'the': 4, 'in': 2, 'cat': 1, 'hat': 1, 'apple': 1, 'tree': 1})
[('the', 4), ('in', 2)]
1

In [114]:
#Deque
#O(1) when mutating beginning or end  (list is O(n))
#O(n) when accessing middle of the deque (O(1) for lists and tuples)
from collections import deque 
deque1 = deque([1,2,3])
deque1.appendleft(0)
deque1

deque([0, 1, 2, 3])